
// ------------------------------------------------------------------------------------------------------
// GLOBAL STYLES

html, body, #app {
  height: 100%;
}
body, #app {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
}

#navbar {

  .navbar-brand {
    img {
      width: 200px;
      max-width: 100%;
      height: auto;
    }
  }

}