// ------------------------------------------------------------------------------------------------------
// REACT TABLE

.ReactTable {

  .rt-table {

    .rt-th,
    .rt-thead .rt-th,
    .rt-td {
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
    }

    .rt-th {
      &.action {
        flex: 1 1 auto !important;
        width: fit-content !important;
        min-width: 94.5px;
      }
    }

    .rt-td {
      display: flex;
      align-items: center;
      justify-content: center;

      &.action {
        text-align: center;
        justify-content: center;
        flex: 1 1 auto !important;
        width: fit-content !important;
        min-width: 94.5px;
      }
    }

    .action {
      text-align: right;
      border-bottom: none;
    }
  }

  .-sort-asc {
    box-shadow: inset 0 3px 0 0 $pink !important;
  }

  .-sort-desc {
    box-shadow: inset 0 -3px 0 0 $blue !important;
  }

}