{% extends "shared/base.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div id="form-signin">

                    <form id="login-form" class="validate" method="post" action="/login">

                        <div class="form-group mb-5 d-flex justify-content-center">
                            <img src="/public/assets/images/bu_logo.png" class="img-fluid">
                        </div>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class="list-unstyled">
                                    {% for category, message in messages %}
                                        <li>
                                            <div class="alert alert-{{ category }}" role="alert">
                                                {{ message }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}

                        <div class="form-group">
                            <label for="username">Username</label>

                            <input id="username"
                                   class="form-control"
                                   name="username"
                                   placeholder="i7433085"
                                   required="required"/>
                        </div>

                        <div id="google-signin"></div>
                        <input id="idToken" type="hidden" name="idToken"/>

                        <div id="logged-in-extras" class="d-none">
                            <button id="btn-continue" type="submit" class="btn btn-primary w-100" role="button">
                                Continue as <span id="continue-name"></span></button>
                            <button id="login-logout" class="btn-link btn-sm mt-2" style="margin: 0 auto; display: block; cursor: pointer;">Logout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}